@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

html {
  height: fit-content;
  width: fit-content;
  background: #202b33;
  color: rgba(255, 255, 255, .8);
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: auto;
}

h1 {
font-size: 20px;  
}

p {
  text-align: right;
  padding-right: 5%;
  }